


.main{
    width: 100%;
    /* height: 100vh; */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    min-height: 100%;
    overflow: hidden;
    background: linear-gradient(120.28deg, #FDDFD1 0%, #C9BEF8 100%);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.authWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.input{
    background: rgba(255,255,255,0.4);
    border-radius: 20px;
    
    padding: 15px 30px;
    width: 300px;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.authBtn{
    background: #1890FF;
    border-radius: 20px;   
    border: none;
    width: 360px;
    padding: 15px 30px;

    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;

    transition: 0.3s;
}
.authBtn:hover{
    opacity: 0.6;
}

.content{
    margin-left: 300px;
    width: calc(100%-300px);
    height: 100vh;
    overflow-y: scroll;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    gap:25px;

}

.cardsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:25px;
    justify-content: space-between;
}
.chartCard{
    width: 45%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap:15px
}

.chartHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.funnelWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.funnel{
    width: 120%;
}

.treeChart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

.widget{
    background: rgba(255,255,255,0.4);
    border-radius: 20px;
    padding: 30px;
}

.widgetTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.85)
}

.widgetValue{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;

    color: rgba(0, 0, 0, 0.85);
}

.widgetDescr{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    
    color: rgba(0, 0, 0, 0.85);
}

.toolsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}